{% extends 'layout.twig' %}

{% block title %}
    Cars
{% endblock %}

{% block contentTitle %}
  <h2>Cars</h2>
{% endblock %}

{% block content %}
  <table>
    <thead>
      <th>Registration</th>
      <th>Make</th>
      <th>Color</th>
      <th>Year</th>
      <th>Price</th>
      <th>Checked out by</th>
      <th>Checked out time</th>
      <th></th>
      <th></th>
    </thead>

{% for car in cars %}
    <tr>
      <td>{{ car.registration }}</td>
      <td>{{ car.make }}</td>
      <td>{{ car.color }}</td>
      <td>{{ car.year }}</td>
      <td>{{ car.price }}</td>
      <td>
      {% if car.checkedoutby is null %}
        free
      {% endif %}
      {% if car.checkedoutby is not null %}
        {{ car.checkedoutby }}</td>
      {% endif %}
      <td>{{ car.checkedouttime }}</td>
      <td>
        <form method="post" action="{{ baseUrl }}/editcar/{{ car.registration }}">
          <input type="submit" value="Edit" {% if car.checkedoutby == true %}disabled{% endif %}>
        </form>
      </td>
      <td>
        <form class="delete" method="post" action="{{ baseUrl }}/deletecar/{{ car.registration }}">
          <input type="submit" value="Delete" {% if car.checkedoutby == true %}disabled{% endif %}>
        </form>
      </td>
    </tr>
{% endfor %}

</table>
  <form method="post" action="{{ baseUrl }}/addcar">
    <input type="submit" value="Add car">
  </form>
{% endblock %}