{% extends 'layout.twig' %}

{% block title %}
    Customers
{% endblock %}

{% block content %}
<table>
    <thead>
        <th>Person Number</th>
        <th>Name</th>
        <th>Address</th>
        <th>Postal Address</th>
        <th>Phonenumber</th>
        <th></th>
        <th></th>
    </thead>
{% for customer in customers %}
    <tr>
        <td>{{ customer.personnumber }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.postaladdress }}</td>
        <td>{{ customer.phonenumber }}</td>
        <td><a href="/editcustomer/{{ customer.personnumber }}">Edit</a></td>
        <td><a href="/deletecustomer/{{ customer.personnumber }}">Delete</a></td>
    </tr>
{% endfor %}
</table>
{% if currentPage != 1 %}
    <a href="/customers/{{ currentPage - 1 }}">Previous</a>
{% endif %}
{% if not lastPage %}
    <a href="/customers/{{ currentPage + 1 }}">Next</a>
{% endif %}

  <form method="post" action="/addcustomer">
    <input class="btn-standard" type="submit" value="Add customer">
  </form>

{% endblock %}