{% extends 'customers-layout.twig' %}

{% block title %}
    Customers
{% endblock %}

{% block contentTitle %}
  <h2>Customers</h2>
{% endblock %}

{% block innerContent %}

{% for customer in customers %}
    <tr>
      <td>{{ customer.personnumber }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.postaladdress }}</td>
      <td>{{ customer.phonenumber }}</td>
      <td>
        <form method="post" action="{{ baseUrl }}/editcustomer">
          <input style="display: none" name="personnumber" type="text" value="{{ customer.personnumber }}" >
          <input type="submit" value="Edit" {% if customer.renting == true %}disabled{% endif %}>
        </form>
      </td>
      <td>
        <form class="delete" method="post" action="{{ baseUrl }}/deletecustomer">
          <input style="display: none" name="personnumber" type="text" value="{{ customer.personnumber }}" >
          <input type="submit" value="Delete" {% if customer.renting == true %}disabled{% endif %}>
        </form>
      </td>
    </tr>
{% endfor %}

</table>
  <form method="post" action="{{ baseUrl }}/addcustomer">
    <input type="submit" value="Add customer">
  </form>
{% endblock %}