{% extends 'layout.twig' %}

{% block title %}
    Deleted car
{% endblock %}

{% block content %}
  <h2>Car deleted</h2>

  <table>
    <thead>
      <th>Registration</th>
      <th>Make</th>
      <th>Color</th>
      <th>Year</th>
      <th>Price</th>
      <th>Checked out by</th>
      <th>Checked out time</th>
      <th></th>
      <th></th>
    </thead>

    <tr>
      <td>{{ car.registration }}</td>
      <td>{{ car.make }}</td>
      <td>{{ car.color }}</td>
      <td>{{ car.year }}</td>
      <td>{{ car.price }}</td>
      <td>{{ car.checkedoutby }}</td>
      <td>{{ car.checkedouttime }}</td>
      <td>
        <form method="post" action="{{ baseUrl }}/addedcar">
          <input style="display: none" name="registration" type="text" value="{{ car.registration }}" >
          <input style="display: none" name="make" type="text" value="{{ car.make }}" >
          <input style="display: none" name="color" type="text" value="{{ car.color }}" >
          <input style="display: none" name="year" type="text" value="{{ car.year }}" >
          <input style="display: none" name="price" type="text" value="{{ car.price }}" >
          <input style="display: none" name="checkedoutby" type="text" value="{{ car.checkedoutby }}" >
          <input style="display: none" name="checkedouttime" type="text" value="{{ car.checkedouttime }}" >
          <input type="submit" value="Undo">
        </form>
      </td>
      <td>
      </td>
    </tr>
  </table>
{% endblock %}