{% extends 'customers-layout.twig' %}

{% block title %}
    Edited customer
{% endblock %}


{% block contentTitle %}
  <h2>Customer Edited</h2>
{% endblock %}

{% block innerContent %}
    <tr>
      <td>{{ customer.personnumber }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.postaladdress }}</td>
      <td>{{ customer.phonenumber }}</td>
      <td>
      <form method="post" action="{{ baseUrl }}/editcustomer">
        <input style="display: none" name="personnumber" type="text" value="{{ customer.personnumber }}" >
        <input class="btn-standard" type="submit" value="Edit" {% if customer.renting == true %}disabled{% endif %}>
      </form>
    </td>
      <td>
        <form class="delete" method="post" action="{{ baseUrl }}/deletecustomer" >
          <input style="display: none" name="personnumber" type="text" value="{{ customer.personnumber }}" >
          <input type="submit" value="Delete" {% if customer.renting == true %}disabled{% endif %}>
        </form>
      </td>
    </tr>
  </table>
{% endblock %}