{% extends 'layout.twig' %}

{% block title %}
    Edit car
{% endblock %}

{% block content %}
<h2>Edit car</h2>

<form id="validate" class="enterform" method="post" action="http://car-rental.test/editedcar">
  <ul>
    <li>
      <label for="registration">Registration number:</label>
      <input type="text" name="registration" value="{{ car.registration }}" style="display: none">
      <input type="text" name="registrationplaceholder" value="{{ car.registration }}" disabled>
    </li>
    
    <li>
      <label for="make">Make:</label>
      <select name="make">
        <option value="{{ car.make }}">{{ car.make }}</option>

{% for make in makes %}
  {% if car.make != make %}
        <option value="{{ make }}">{{ make }}</option>
  {% endif %}
{% endfor %}

      </select>
    </li>
    
    <li>
      <label for="color">Color:</label>
      <select name="color">
        <option value="{{ car.color }}">{{ car.color }}</option>

{% for color in colors %}
  {% if car.color != color %}
        <option value="{{ color }}">{{ color }}</option>
  {% endif %}
{% endfor %}

      </select>    </li>
    
    <li>
      <label for="year">Year:</label>
      <input type="text" name="year" value="{{ car.year }}" data-validate="year">
       <span>Add model year.</span>
   </li>
  
    <li>
      <label for="price">Price:</label>
      <input type="text" name="price" value="{{ car.price }}" data-validate="price">
      <span>Add daily rent.</span>
    </li>

    <li>
      <input type="submit" value="Save car" >
    </li>
  </ul>
</form>
{% endblock %}